.form {
  position: relative;
  align-items: center;
}

.search {
  width: 400px;

  input {
    border-color: transparent;
    background-color: #ffdee5;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 50px;
    font-size: 16px;
    border-radius: 9px;
  }
}