.textField {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  padding: 0 15px;
  height: 44px;
  line-height: 17px;
  font-family: Arial;
}

.label {
  display: flex;
  flex-direction: column;
}

.caption {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}