.post {
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px;
    margin-bottom: 28px;
    background-color: white;
    max-width: 100%;
    box-shadow: none;

    .cardMainContent {
        .postImage {
            object-fit: contain;
        }
    }
}

.likeInactive{
    margin-right: 4px;
    color: rgba(0, 0, 0, 0.54);
}

.likeActive {
    margin-right: 4px;
    color: #f0303d;
}
