.sidebar {
    display: block;
    position: sticky;
    height: calc(100vh - 60px);;
    top: 60px;
}

.sidebar.inactive{
  display: none;
}

.list{
  padding-left: 8px;
  margin-left: 9px;
}

.item {
  height: fit-content;
  width: fit-content;
}

.icon{
  font-size: 28px;
}
